In [1]:
tp = ()

In [2]:
type(tp)

tuple

In [3]:
# Create Tuple
# Update Tuple
# Delete Tuple
# Slicing Tuple

In [6]:
# Create Tuple


# Way 1:

mobile = ('LG', 'Apple', 'Oneplus', 'Sumsung')
print(type(mobile))
print(mobile)

<class 'tuple'>
('LG', 'Apple', 'Oneplus', 'Sumsung')

In [8]:
# Way 2:

mobile = ()
print(type(mobile))
print(mobile)

<class 'tuple'>
()

In [11]:
# way 3:
mobile = ('Apple')
print(type(mobile))
print(mobile)


mobile = ('Apple', )
print(type(mobile))
print(mobile)

<class 'str'>
Apple
<class 'tuple'>
('Apple',)

In [12]:
# way 4:

mobile = 'LG', 'Apple', 'Oneplus', 'Sumsung'
print(type(mobile))
print(mobile)

<class 'tuple'>
('LG', 'Apple', 'Oneplus', 'Sumsung')

In [13]:
# Update Tuple

tp1 = (1, 2 , 3)        # 100
tp2 = ('a', 'b', 'c')   # 200

In [14]:
tp3 = tp1 + tp2         # 300

In [15]:
tp1

(1, 2, 3)

In [16]:
tp2

('a', 'b', 'c')

In [17]:
tp3

(1, 2, 3, 'a', 'b', 'c')

In [18]:
# Delete Tuple

In [19]:
tp3

(1, 2, 3, 'a', 'b', 'c')

In [20]:
del(tp3)

In [21]:
tp3

NameError: name 'tp3' is not defined

In [24]:
lst = [1, 2, 3, 4]

In [30]:
tuple(lst)

(1, 2, 3, 4)

In [31]:
tp = (1, 2, 5)

In [32]:
list(tuple(lst))

TypeError: 'list' object is not callable