In [1]:
c = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
lst = []
for i in c:
    lst.append(i**2)
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
fn = lambda x : x**2

In [7]:
fn(2)

4

In [9]:
lst = []
for i in c:
    lst.append(fn(i))
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
# Map - to apply same logic(fucntion) for multiple item in the list


#Syntax:
        map(function, iterable)
        map(fucntion, iterable1, iterable2....)
        
# return map object - convert as list

In [11]:
def sq(x):
    return x**2

In [13]:
mp = map(sq, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [14]:
list(mp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
list(map(sq, c))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
list(map(lambda x : x**2,[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
ls1 = [10, 20, 30, 40, 50]
ls2 = (1, 2, 3, 4, 5)
ls3 = []
for i in range(len(ls1)):
    ls3.append(ls1[i] + ls2[i])
ls3

[11, 22, 33, 44, 55]

In [35]:
tuple(map(lambda a, b : a + b, ls1, ls2))

(11, 22, 33, 44, 55)

In [28]:
x = lambda a : a.upper()

In [30]:
x('c')

'C'

In [32]:
tuple(map(lambda a : a.upper(), "Gopinath"))

('G', 'O', 'P', 'I', 'N', 'A', 'T', 'H')

In [36]:
tuple(map(lambda x : x+2 if x%2==0 else x+1, (1, 2, 3, 4, 5)))

(2, 4, 4, 6, 6)

In [39]:
# filter(func, iterable)

x = lambda c : c%2==0

In [41]:
x(11)

False

In [43]:
list(filter(lambda c : c%2==0, [1, 2, 3, 4, 5]))

[2, 4]

In [44]:
data = {'Chennai' : 29,
        'Bangalore' : 36,
        'Hyderabad' : 19,
        'Delhi' : 26,
        'Mumbai' : 32}

In [50]:
for i in data.items():
    print(i[0], (9/5)*i[1]+32)

Chennai 84.2
Bangalore 96.8
Hyderabad 66.2
Delhi 78.80000000000001
Mumbai 89.6

In [46]:
x =('Chennai', 29)

In [47]:
x[0]

'Chennai'

In [48]:
x[1]

29

In [6]:
# reduce - return a single value that is passed from the element to element

# Syntax:- reduce(function, iterable) ----> Single value

lst = [10, 500, 25, 10]

sum(lst)

545

In [3]:
import functools as ft

ft.reduce(lambda a, b: a + b, lst)

50

In [4]:
max(lst)

25

In [7]:
ft.reduce(lambda a, b :a if(a > b) else b, lst)

500