In [1]:
def sq(x):
    return x**2

In [2]:
list(map(lambda x : x**2, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [3]:
ls = []
for i in [1, 2, 3, 4, 5]:
    ls.append(i**2)
ls

[1, 4, 9, 16, 25]

In [5]:
# Syntax: new_list = [expression for_loop_one or more_loop]

# Map with lambda

[i**2 for i in [1, 2, 3, 4, 5]]

[1, 4, 9, 16, 25]

In [7]:
def ever_only(x):
    if x%2==0:
        return x

In [19]:
list(filter(lambda x :(x%2==0), [1,2,3,4]))

[2, 4]

In [21]:
[x for x in [1,2,3,4] if x%2==0]

[2, 4]

In [22]:
lst = [0, 10, 20.2, 38.2]

[(9/5)*c+32 for c in lst]

[32.0, 50.0, 68.36, 100.76]

In [26]:
ls1 = [10, 20, 30, 40, 50]
ls2 = [30, 40, 50, 60, 70]

In [29]:
lst = []
for i in ls1:
    for j in ls2:
        if i == j:
            lst.append(i)
lst

[30, 40, 50]

In [31]:
[i for i in ls1 for j in ls2 if i==j]

[30, 40, 50]

In [35]:
list('gopi')

['g', 'o', 'p', 'i']

In [37]:
[x.upper() for x in 'gopi']

['G', 'O', 'P', 'I']

In [40]:
# enumerates
lst = ['aaa', 'bbb', 'ccc', 'ddd', 'eee']
j = 0
for i in lst:
    print(j, i)
    if (i =='ccc'):
        print('index number of ccc is: ', j)
    j=j+1

0 aaa
1 bbb
2 ccc
index number of ccc is:  2
3 ddd
4 eee

In [46]:
lst = ['aaa', 'bbb', 'ccc', 'ddd', 'eee']
for i, j in enumerate(lst):
    if(j == "ccc"):
         print(i)

2

In [48]:
months = ['March', 'April', 'May', 'June']

for i in enumerate(months, start=3):
    print(i)

(3, 'March')
(4, 'April')
(5, 'May')
(6, 'June')

In [ ]:
# Zip, unzip